@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
    --backgroundColor: #242234;
    --textLightColor: #dae0ea;
    --textDarkColor: #122020;
    --accentColorLight: #249fde;
    --accentColorDark: #285cc4;
    --secondAccentColor: #f9a31b;
}

html {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textLightColor);
    overflow: hidden;
}

* {
    margin: 0;
    outline: none;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
}

::selection {
    background: #000000;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 3vh;
    margin-left: 2vw;
}

#navToggle {
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--accentColorLight);
    color: var(--textDarkColor);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
    width: fit-content;
    transition: all 0.2s;
}
#navToggle:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

#nav {
    position: absolute;
    /* margin-left: -15px; */
    padding: 15px;
    display: none;
    flex-direction: column;
    background-color: #181317e0;
    z-index: 10;
    width: 93vw;
    height: 80vh;
    overflow: auto;
    margin-top: 3em;
}
#nav p {
    color: var(--textLightColor);
    text-decoration: none;
    font-size: 1.4em;
    width: fit-content;
    padding-right: 1.5em;
    font-weight: bold;
}
#nav p:hover {
    cursor: pointer;
    color: var(--accentColorLight);
}
.folderName:hover {
    color: var(--secondAccentColor);
}
.icon {
    width: 1em;
    margin-right: 0.25em;
    user-select: none;
}
.iconVertical {
    height: 1em;
    margin-right: 0.25em;
    user-select: none;
}

.openIndicator {
    scale: 1.25;
    filter: brightness(1.2);
    border-radius: 50%;
    padding: 0;
    line-height: 0;
}

#title {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

video {
    outline: none;
    border-radius: 10px;
    display: none;
}