@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
    --backgroundColor: #242234;
    --textLightColor: #dae0ea;
    --textDarkColor: #122020;
    --accentColorLight: #249fde;
    --accentColorDark: #285cc4;
    --secondAccentColor: #f9a31b;

    --borderRadius: 5px;

    --delay: 0.2s;
}

html {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textLightColor);
    overflow: hidden;
}

* {
    margin: 0;
    outline: none;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
}

::selection {
    background: #000000;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 3vh;
    margin-left: 2vw;
}

section .fileNav {
    display: flex;
    flex-direction: row;
    height: fit-content;
    /* height: 2em; */
}
section .fileNav .nextPrevious {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    padding: 0.75em;
    border: none;
    outline: none;
    border-radius: var(--borderRadius);
    background-color: var(--accentColorDark);
    font-weight: 500;
    transition: all var(--delay);
    opacity: 0;
    pointer-events: none;
}
section .fileNav .nextPrevious img {
    scale: 1.5;
}
section .fileNav .nextPrevious:hover {
    cursor: pointer;
    box-shadow: 0 0 5px var(--accentColorDark);
    margin-top: 0.15em;
    margin-bottom: -0.15em;
    scale: 1.035;
}
section .fileNav .nextPrevious:not(:last-of-type) {
    margin-right: 1em;
}

#navToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0;
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--accentColorLight);
    color: var(--textDarkColor);
    border-radius: var(--borderRadius);
    font-weight: bold;
    font-size: 1.4em;
    width: fit-content;
    margin-right: 2em;
    transition: all var(--delay);
}
#navToggle:hover {
    cursor: pointer;
    filter: brightness(1.1);
    scale: 1.02;
    box-shadow: 0 0 10px var(--accentColorLight);
}

#nav {
    position: absolute;
    /* margin-left: -15px; */
    padding: 15px;
    display: none;
    flex-direction: column;
    background-color: #181317e0;
    z-index: 10;
    width: 93vw;
    height: 80vh;
    overflow: auto;
    margin-top: 3em;
}
#nav p {
    color: var(--textLightColor);
    text-decoration: none;
    font-size: 1.4em;
    width: fit-content;
    padding-right: 1.5em;
    font-weight: bold;
}
#nav p:hover {
    cursor: pointer;
    color: var(--accentColorLight);
}
.folderName:hover {
    color: var(--secondAccentColor);
}
.icon {
    width: 1em;
    margin-right: 0.25em;
    user-select: none;
}
.iconVertical {
    height: 1em;
    margin-right: 0.25em;
    user-select: none;
}

.openIndicator {
    scale: 1.25;
    filter: brightness(1.2);
    border-radius: 50%;
    padding: 0;
    line-height: 0;
}

#title {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

video {
    outline: none;
    border-radius: 10px;
    display: none;
}

canvas {
    margin-top: 2em;
    position: absolute;
}