@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --backgroundColor: #242234;
    --textLightColor: #dae0ea;
    --textDarkColor: #122020;
    --accentColorLight: #249fde;
    --accentColorDark: #285cc4;
}

body {
    padding: 15px;
    background-color: var(--backgroundColor);
    color: var(--textLightColor)
}
* {
    margin: 0;
    outline: none;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/*
*:focus {
    border: 2px solid #588dbe80;
}
*/

#navToggle {
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--accentColorLight);
    color: var(--textDarkColor);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
}
#navToggle:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#nav {
    position: absolute;
    /* margin-left: -15px; */
    padding: 15px;
    display: none;
    flex-direction: column;
    background-color: #181317D9;
    z-index: 10;
}
#nav p {
    color: var(--textLightColor);
    text-decoration: none;
    font-size: 1.2em;
    width: fit-content;
}
#nav p:hover {
    cursor: pointer;
    color: var(--accentColor);
}

#title {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

video {
    width: 80vw;
    min-width: 300px;
    outline: none;
    border-radius: 10px;
    display: none;
}